E1. Analiza dynamiki wybranej giełdy za pomocą  wybranej techniki teorii grafów 

**Research question: What are correlations between constituents?**

Celem tego ćwiczenia jest zbadanie dynamiki wybranej giełdy w okresie narastania wybranej bańki giełdowej oraz  jej pęknięcia, z wykorzystaniem teorii grafów. Realizacja ćwiczenia składa się  z następujących etapów:  

1.  wybór  giełdy  i  ściągnięcie  odpowiednich  empirycznych  danych  giełdowych  z  wybranej  strony internetowej lub uzyskanie ich bezpośrednio z danej giełdy,  
    1. Download FTSE100 historical data from yahoo, transform it into a dataframe and save to a file. 
    2. Plot number of constituents(time) for FTSE100
        1. To do it I should first check the data. Are there any missing values for certain constituents? I can achieve it through finding a start date for each ticker. It can be in a form of a list.
    3. Check is the data complete?
2.  dobór odpowiedniego modelu sieci oraz algorytmu generującego,  
3.  dobór właściwych przedziałów średniowania,  
4.  dyskusja  uzyskanych  wyników  a  w tym  zwłaszcza  ewentualnych  strukturalnych  topologicznych) przemian fazowych prowadzących do analizy kryzysu i krachu. 

### Questions
    Should I use log transformation?
    How should I calculate <Si> How many days average. (See exercise notes 1.2)
    How to calculate distances between companies? How to interpret them?

[Exercise materials](https://drive.google.com/open?id=0ByG3ASYoU228cnFHaEZDR0tQcWlaZlNGa2xoUEhNSUJfMDg4)

### Notes(Exercise materials)
    1.1 Diferences a couple orders of magnitude
    1.2 <Si> - average over for example 50 days.

In [2]:
import urllib,time,datetime
import pandas.io.data as web
import pandas as pd
import numpy as np
import pylab as py
import datetime as dt

%matplotlib inline

/home/pawel/anaconda3/lib/python3.5/site-packages/pandas/io/data.py:33: FutureWarning:
The pandas.io.data module is moved to a separate package (pandas-datareader) and will be removed from pandas in a future version.
After installing the pandas-datareader package (https://github.com/pydata/pandas-datareader), you can change the import ``from pandas.io import data, wb`` to ``from pandas_datareader import data, wb``.
  FutureWarning)

1. 
    A. Below I download FTSE100 historical data from yahoo and save it to data_FTSE100.txt

In [26]:
start = datetime.datetime(1985, 1, 1)
end = datetime.datetime(2015, 4, 29)

In [5]:
with open('./constituents_FTSE100') as f:
    lines = f.readlines()

In [6]:
#fig = py.figure()
f=web.DataReader(lines[0].strip(), 'yahoo', start, end)

lines = lines[0:100]
y=[]

for line in lines:
    if len(line.strip())>1:
        try:
            f=web.DataReader(line.strip(), 'yahoo', start, end)
        except:
            raise
        else:
            y.append( f['Open'] )            
            #print( f )
#print ( y[0]['Open'] )
#print ( y[1] )
#print ( "And so on ..." )

# = y[0]['Open'] 

Stock_values_dataframe = pd.concat( y, axis=1 )

Stock_values_dataframe.columns = [ line.replace( "\n", "" ) for line in lines ]

#print( Stock_values_dataframe )


Stock_values_dataframe.to_csv( "./data_FTSE100.txt" )

#file = open( "./data_FTSE100.txt", "w" )
#for i in y:
#    file.write( str( i ) ) 
#file.close()

## Note
    In 1. A. I downloaded data for FTSE100 and saved it to a file. Below read data from the file.

In [3]:
Stock_values_dataframe = pd.read_csv( "./data_FTSE100.txt" )

print( Stock_values_dataframe )
print( len( lines ) )
#print( lines[] )

            Date   AAL.L    ABF.L  ADM.L  ADN.L  AGK.L     AHT.L   ANTO.L  \
0     1988-05-03     NaN      NaN    NaN    NaN    NaN       NaN      NaN
1     1988-05-04     NaN      NaN    NaN    NaN    NaN       NaN      NaN
2     1988-05-05     NaN      NaN    NaN    NaN    NaN       NaN      NaN
3     1988-05-06     NaN      NaN    NaN    NaN    NaN       NaN      NaN
4     1988-05-09     NaN      NaN    NaN    NaN    NaN       NaN      NaN
5     1988-05-10     NaN      NaN    NaN    NaN    NaN       NaN      NaN
6     1988-05-11     NaN      NaN    NaN    NaN    NaN       NaN      NaN
7     1988-05-12     NaN      NaN    NaN    NaN    NaN       NaN      NaN
8     1988-05-13     NaN      NaN    NaN    NaN    NaN       NaN      NaN
9     1988-05-16     NaN      NaN    NaN    NaN    NaN       NaN      NaN
10    1988-05-17     NaN      NaN    NaN    NaN    NaN       NaN      NaN
11    1988-05-18     NaN      NaN    NaN    NaN    NaN       NaN      NaN
12    1988-05-19     NaN      NaN    NaN    NaN    NaN       NaN      NaN
13    1988-05-20     NaN      NaN    NaN    NaN    NaN       NaN      NaN
14    1988-05-23     NaN      NaN    NaN    NaN    NaN       NaN      NaN
15    1988-05-24     NaN      NaN    NaN    NaN    NaN       NaN      NaN
16    1988-05-25     NaN      NaN    NaN    NaN    NaN       NaN      NaN
17    1988-05-26     NaN      NaN    NaN    NaN    NaN       NaN      NaN
18    1988-05-27     NaN      NaN    NaN    NaN    NaN       NaN      NaN
19    1988-05-30     NaN      NaN    NaN    NaN    NaN       NaN      NaN
20    1988-05-31     NaN      NaN    NaN    NaN    NaN       NaN      NaN
21    1988-06-27     NaN      NaN    NaN    NaN    NaN       NaN      NaN
22    1988-06-28     NaN      NaN    NaN    NaN    NaN       NaN      NaN
23    1988-06-29     NaN      NaN    NaN    NaN    NaN       NaN      NaN
24    1988-06-30     NaN      NaN    NaN    NaN    NaN       NaN      NaN
25    1988-07-01     NaN   258.72    NaN    NaN    NaN   428.800  268.855
26    1988-07-04     NaN   253.44    NaN    NaN    NaN   433.008  267.860
27    1988-07-05     NaN   254.32    NaN    NaN    NaN   433.008  265.880
28    1988-07-06     NaN   255.20    NaN    NaN    NaN   437.208  267.860
29    1988-07-07     NaN   253.44    NaN    NaN    NaN   433.008  265.880
...          ...     ...      ...    ...    ...    ...       ...      ...
6994  2015-03-19  1055.0  3077.00   1543  471.9   1601  1140.000  689.500
6995  2015-03-20  1052.5  3058.00   1526  474.3   1586  1133.000  698.500
6996  2015-03-23  1107.5  3046.00   1543  476.0   1573  1134.000  716.500
6997  2015-03-24  1106.0  2998.00   1555  475.0   1573  1115.000  728.000
6998  2015-03-25  1090.0  2934.00   1572  479.5   1575  1131.000  725.500
6999  2015-03-26  1101.5  2891.00   1535  473.0   1556  1114.000  713.500
7000  2015-03-27  1073.0  2851.00   1544  472.3   1561  1101.000  720.000
7001  2015-03-30  1054.0  2876.00   1545  470.1   1558  1081.000  724.000
7002  2015-03-31  1060.5  2854.00   1540  468.6   1531  1102.000  745.000
7003  2015-04-01  1010.0  2813.00   1525  457.0   1523  1082.000  732.000
7004  2015-04-02  1011.5  2820.00   1538  462.9   1547  1085.000  729.500
7005  2015-04-03   997.0  2866.00   1551  464.9   1568  1082.000  718.000
7006  2015-04-06   997.0  2866.00   1551  464.9   1568  1082.000  718.000
7007  2015-04-07  1018.5  2869.00   1555  465.6   1570  1090.000  718.500
7008  2015-04-08  1028.5  2950.00   1553  466.5   1591  1096.000  742.000
7009  2015-04-09  1000.0  2976.00   1570  468.8   1602  1065.000  735.000
7010  2015-04-10  1028.0  2999.00   1589  485.2   1546  1058.000  740.500
7011  2015-04-13  1009.0  3008.00   1598  507.0   1570  1073.000  737.000
7012  2015-04-14   993.8  2969.00   1587  495.0   1564  1088.000  718.000
7013  2015-04-15  1038.0  2966.00   1582  492.9   1600  1112.000  742.000
7014  2015-04-16  1058.0  2978.00   1616  494.6   1599  1132.000  756.000
7015  2015-04-17  1035.5  2967.00   1608  491.2   1621  1112.000  747.500
7016  2015-04-20  1014.5  2920.00   1595  483.7   1601  1121.000  735.500
7017  2015-04-21  1030.0  2735.00   1625  488.0   1627  1149.000  750.000
7018  2015-04-22  1026.5  2735.00   1635  490.6   1660  1122.000  753.500
7019  2015-04-23  1010.0  2755.00   1607  487.5   1658  1142.000  746.000
7020  2015-04-24  1066.5  2767.00   1599  483.0   1650  1175.000  796.000
7021  2015-04-27  1117.0  2785.00   1582  476.0   1682  1167.000  803.000
7022  2015-04-28  1098.0  2807.00   1591  472.4   1635  1166.000  802.500
7023  2015-04-29  1120.0  2798.00   1574  466.2   1652  1149.000  780.000

      ARM.L     AV.L    ...      TSCO.L  TUI.L   TW.L    ULVR.L    UU.L  \
0       NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
1       NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
2       NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
3       NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
4       NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
5       NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
6       NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
7       NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
8       NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
9       NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
10      NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
11      NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
12      NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
13      NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
14      NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
15      NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
16      NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
17      NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
18      NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
19      NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
20      NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
21      NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
22      NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
23      NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
24      NaN      NaN    ...         NaN    NaN    NaN       NaN     NaN
25      NaN  336.936    ...     153.000    NaN  429.0   466.500     NaN
26      NaN  336.034    ...     150.000    NaN  427.0   469.998     NaN
27      NaN  336.936    ...     152.001    NaN  426.0   467.999     NaN
28      NaN  340.539    ...     150.000    NaN  425.0   478.998     NaN
29      NaN  334.233    ...     147.000    NaN  425.0   476.000     NaN
...     ...      ...    ...         ...    ...    ...       ...     ...
6994   1188  558.000    ...     242.900   1205  154.0  2925.000   937.5
6995   1205  568.000    ...     244.950   1188  155.5  2909.000   950.5
6996   1206  571.000    ...     245.650   1175  154.6  2898.000   950.0
6997   1200  561.500    ...     244.700   1170  154.4  2905.000   959.5
6998   1195  572.000    ...     242.650   1195  156.8  2918.000   963.5
6999   1104  554.500    ...     237.400   1206  155.6  2860.000   953.5
7000   1089  556.000    ...     237.800   1210  156.5  2857.000   940.0
7001   1099  556.500    ...     240.950   1213  156.0  2883.000   953.0
7002   1108  550.000    ...     241.850   1199  155.3  2888.000   945.5
7003   1100  540.000    ...     240.600   1184  155.1  2796.000   934.0
7004   1100  550.500    ...     242.750   1204  152.5  2826.000   954.0
7005   1099  553.000    ...     244.300   1213  153.2  2856.000   938.0
7006   1099  553.000    ...     244.300   1213  153.2  2856.000   938.0
7007   1110  558.000    ...     245.300   1218  154.0  2900.000   943.5
7008   1108  547.500    ...     250.100   1222  158.9  2898.000   957.5
7009   1135  552.500    ...     247.750   1229  158.1  2897.000   965.5
7010   1151  551.000    ...     248.000   1228  162.9  2926.000   975.5
7011   1164  564.000    ...     248.900   1245  165.0  2929.000   980.5
7012   1169  560.000    ...     243.100   1231  163.5  2903.000   976.0
7013   1165  556.500    ...     243.800   1235  165.5  2910.000   977.5
7014   1157  562.000    ...     248.350   1234  166.4  3005.000   978.5
7015   1130  550.000    ...     240.500   1211  162.3  3000.000   970.0
7016   1133  545.500    ...     235.000   1196  161.7  3008.000   964.0
7017   1218  546.000    ...     236.700   1217  162.9  2995.000   966.5
7018   1203  538.000    ...     234.700   1235  165.6  3024.000   983.0
7019   1189  540.000    ...     224.000   1217  166.8  2968.000   974.0
7020   1195  537.000    ...     224.150   1209  166.2  2993.000   989.0
7021   1178  532.000    ...     224.600   1223  170.1  2983.000  1003.0
7022   1199  533.500    ...     221.450   1229  168.4  2968.000   991.0
7023   1162  527.500    ...     220.000   1214  165.9  2937.000   993.0

       VOD.L    WEIR.L     WOS.L  WPP.L     WTB.L
0        NaN       NaN       NaN    NaN       NaN
1        NaN       NaN       NaN    NaN       NaN
2        NaN       NaN       NaN    NaN       NaN
3        NaN       NaN       NaN    NaN       NaN
4        NaN       NaN       NaN    NaN       NaN
5        NaN       NaN       NaN    NaN       NaN
6        NaN       NaN       NaN    NaN       NaN
7        NaN       NaN       NaN    NaN       NaN
8        NaN       NaN       NaN    NaN       NaN
9        NaN       NaN       NaN    NaN       NaN
10       NaN       NaN       NaN    NaN       NaN
11       NaN       NaN       NaN    NaN       NaN
12       NaN       NaN       NaN    NaN       NaN
13       NaN       NaN       NaN    NaN       NaN
14       NaN       NaN       NaN    NaN       NaN
15       NaN       NaN       NaN    NaN       NaN
16       NaN       NaN       NaN    NaN       NaN
17       NaN       NaN       NaN    NaN       NaN
18       NaN       NaN       NaN    NaN       NaN
19       NaN       NaN       NaN    NaN       NaN
20       NaN       NaN       NaN    NaN       NaN
21       NaN       NaN       NaN    NaN       NaN
22       NaN       NaN       NaN    NaN       NaN
23       NaN       NaN       NaN    NaN       NaN
24       NaN       NaN       NaN    NaN       NaN
25       NaN   926.308   112.602    NaN   282.103
26       NaN   922.382   113.021    NaN   279.960
27       NaN   930.232   113.439    NaN   280.241
28       NaN   934.158   113.858    NaN   279.309
29       NaN   922.382   114.276    NaN   275.585
...      ...       ...       ...    ...       ...
6994  224.40  1776.000  4182.000   1589  5410.000
6995  225.00  1788.000  4214.000   1590  5455.000
6996  229.00  1836.000  4218.000   1578  5405.000
6997  227.60  1805.000  4090.000   1573  5330.000
6998  226.25  1791.000  4082.000   1580  5330.000
6999  222.80  1768.000  4020.000   1552  5260.000
7000  227.95  1784.000  4035.000   1547  5255.000
7001  226.90  1733.000  4045.000   1563  5290.000
7002  225.05  1710.000  4010.000   1554  5240.000
7003  220.00  1700.000  3991.000   1530  5245.000
7004  221.00  1702.000  3960.000   1515  5225.000
7005  222.20  1737.000  4019.000   1539  5255.000
7006  222.20  1737.000  4019.000   1539  5255.000
7007  222.35  1769.000  4030.000   1545  5295.000
7008  225.00  1820.000  4030.000   1554  5300.000
7009  223.50  1778.000  4036.000   1566  5300.000
7010  225.80  1768.000  4098.000   1587  5415.000
7011  228.60  1773.000  4098.000   1609  5405.000
7012  227.90  1781.000  4069.000   1591  5365.000
7013  228.80  1890.000  4099.000   1590  5350.000
7014  228.90  1915.000  4113.000   1595  5340.000
7015  227.75  1911.000  4081.000   1568  5220.000
7016  229.45  1880.000  4066.000   1554  5265.000
7017  230.00  1895.000  4066.000   1556  5300.000
7018  228.45  1837.000  4054.000   1587  5335.000
7019  228.40  1800.000  4020.000   1587  5315.000
7020  230.90  1785.000  3984.000   1579  5325.000
7021  232.05  1755.000  3949.000   1584  5365.000
7022  231.50  1761.000  3971.000   1588  5440.000
7023  232.05  1703.000  3905.000   1560  5325.000

[7024 rows x 101 columns]

NameError: name 'lines' is not defined

### 1. B. Below I calculate number of constituents( time )

In [4]:
number_of_constituents_list = []
    
for date_index in range( len( Stock_values_dataframe ) ):
    number_of_constituents = 0
    for start_date in start_dates_constituents_list:
        if Stock_values_dataframe[ 'Date' ][ date_index ] > start_date:
            number_of_constituents += 1
    number_of_constituents_list.append( number_of_constituents )
    
    
#.date()
all_dates = [ dt.datetime.strptime( date, '%Y-%m-%d' ) for date in Stock_values_dataframe[ 'Date' ].tolist() ]
#y = range( len( x ) )

py.xlabel('Date')
py.ylabel('liczba spolek')
py.title('FTSE100')

#print( number_of_constituents_list )
py.plot( all_dates, number_of_constituents_list, 'ro' )
py.show()
#fig.savefig('/home/pawel/Documents/magisterka/Financial_historical_data/constituents100.jpg')
#py.clf()

NameError: name 'start_dates_constituents_list' is not defined

1. 
    B. Below I download FTSE250 historical data from yahoo
    
    [FTSE250 components yahoo](https://uk.finance.yahoo.com/q/cp?s=%5EFTMC)

In [17]:
with open('./constituents_FTSE250') as f:
    lines = f.readlines()
    
for line in lines:
    if len(line.strip())>1:
        try:
            f=web.DataReader(line.strip(), 'yahoo', start, end)
        except:
            raise
        else:
            y.append(f.index.date[0])            
            #print f.index.date[0]

OSError: after 3 tries, Yahoo! did not return a 200 for url 'http://ichart.finance.yahoo.com/table.csv?s=BNKR.L&a=0&b=1&c=1985&d=3&e=29&f=2015&g=d&ignore=.csv'

In [ ]:
py.xlabel('Data wejscia')
py.ylabel('liczba spolek')
py.title('FTSE250')


for i in y:
    j=0
    for k in y:
        if k<=i:
            j+=1
    x.append(j)


py.plot(y,x, 'ro')
py.show()
#fig.savefig('/home/pawel/Documents/magisterka/Financial_historical_data/constituents250.jpg')
py.clf()